.btn,
.btn-lg {
  font-family: Inter;
  font-weight: bold !important;
  font-style: italic;
  text-transform: lowercase;
  border-radius: 30px;
}

.arrow-btn {
  color: #fff;
  transition: all .3s ease-in-out;
}

.arrow-btn:hover {
  background: #fff;
  box-shadow: 0 0 15px #000;
  color: #000;
}
