// buttons

.btn {
    // border-radius: 20px !important;
  }

.arrow-btn {
    color: #fff;
    transition: all .3s ease-in-out;
}

.arrow-btn:hover {
    background: #fff;
    box-shadow: 0 0 15px #000;
    color: #000;
}

