@import './utilities.scss';
@import './menu.scss';
@import './flex.scss';
@import './text.scss';
@import './colors.scss';
@import './images.scss';
@import './buttons.scss';
@import './shapes.scss';
@import './footer.scss';

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  width: 100%;
  max-width: 1400px;
  overflow-x: hidden;
  transition-timing-function: ease-in-out;
}

body {
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  cursor: pointer;
  text-decoration: none !important;
}