@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800;900&display=swap');

h1, h2, h3, h4, h5, h6, p {
    font-family: Helvetica Neue, 'Montserrat', Futura, Arial, sans-serif;
    font-family: 'Inter', 'Montserrat', Futura, Arial, sans-serif;
    // font-family: 'Montserrat', Helvetica Neue, Futura, Arial, sans-serif;
}

p {
    font-size: 20px;
    line-height: 110%;
    font-weight: 400;
}

.site-title {
    // font-size: 21vmin;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20vw;
    font-weight: 100;
    line-height: 82%;
    letter-spacing: -15px;
    padding: 0 20px 0 20px;
    text-transform: lowercase;
    font-style: italic;
    margin-bottom: 0;
}

.site-subtitle {
    letter-spacing: -3px;
}

.page_title {
    font-size: 10vmin;
    font-weight: 700;
    letter-spacing: -3px;
    text-decoration: none;
    line-height: 100%;
    margin-top: 0;
}

.section_title {
    letter-spacing: -2px;
    font-weight: 100;
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 15px;
}

.text-shadow {
    text-shadow: 5px 5px 5px #000;
}

#projects h2 {
    line-height: 90%;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .site-title {
        font-size: 30vmin;
    }
}